h1 {
    color: aliceblue;
    text-align: center;
    font-size:50px;
}

#imagemsite{
    height: 20%;
    width: 40%;
    padding: 1px;
    margin: 5px;
    border: 3px solid;
    border-radius: 10%;
    margin-left: 30%;


h1{
    color:lightgreen;
    text-align: center;
    font-size: 50px;
}

.principal{
    background: red;
    font-size: 30px;
}

#jogo { 

}